<!DOCTYPE html>
<html itemscope itemtype="https://schema.org/<%- document.ctype %>"
    lang="<%- document.lang %>" 
    dir="<%- document.direction %>">
    <head>
        <meta charset="<%- document.charset %>">
        <meta name="generator" content="ICE--FIRE">
        <base href="<%- document.baseurl %>" />
        <%- ice.head %>
    </head>
    <body>
        <blz-app>
            <%- ice.app %>
        </blz-app>
        <section id="blz-js">
            <script type="module" src="/js/bundle.ice.js"></script>
            <script type="module" src="/js/fire.module.js"></script>
            <noscript>
                <div>
                    <p>For the best browsing experience, please enable JavaScript.</p>
                    <p><a href="https://www.enable-javascript.com/" target="_blank">Learn more</a>.</p>
                </div>
            </noscript>
        </section>
    </body>
</html>